## Import some of our data utils

In [6]:
from data_utils import read_csv_rows, columnar

filename: str = "../data/weather-comp110.csv"
data: list[dict[str, str]] = read_csv_rows(filename)
data

[{'Day': 'Monday', 'Low': '56', 'High': '75'},
 {'Day': 'Tuesday', 'Low': '53', 'High': '72'},
 {'Day': 'Wednesday', 'Low': '50', 'High': '72'}]

In [7]:
column_data: dict[str, list[str]] = columnar(data)
column_data

{'Day': ['Monday', 'Tuesday', 'Wednesday'],
 'Low': ['56', '53', '50'],
 'High': ['75', '72', '72']}

## Printing Data

In [8]:
from tabulate import tabulate

tabulate(column_data, column_data.keys(), "html")

'<table>\n<thead>\n<tr><th>Day      </th><th style="text-align: right;">  Low</th><th style="text-align: right;">  High</th></tr>\n</thead>\n<tbody>\n<tr><td>Monday   </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>Tuesday  </td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n<tr><td>Wednesday</td><td style="text-align: right;">   50</td><td style="text-align: right;">    72</td></tr>\n</tbody>\n</table>'

## Get table of just Monday and Tuesday

In [4]:
smaller_data_set: dict[str, list[str]] = {}

for key in column_data:
    #make entry with "key" as the key and the first two elem of list as values
    sub_list: list[str] = []
    data_to_get: list[str] = column_data[key]
    for i in range(2):
        sub_list.append(data_to_get[i])
    smaller_data_set[key] = sub_list

smaller_data_set

{'Day': ['Monday', 'Tuesday'], 'Low': ['56', '53'], 'High': ['75', '72']}

In [5]:
tabulate(smaller_data_set, smaller_data_set.keys(), "html")

'<table>\n<thead>\n<tr><th>Day    </th><th style="text-align: right;">  Low</th><th style="text-align: right;">  High</th></tr>\n</thead>\n<tbody>\n<tr><td>Monday </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>Tuesday</td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n</tbody>\n</table>'